<template>

  <table id="customers" align="center">
    <thead>
    <tr>
      <th>Id</th>
      <th>Nom</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="category in categories">
      <td>{{ category.id }}</td>
      <td>
        {{ category.title }}
      </td>
      <td>
        <router-link  :to="{ path: '/category/show/'+category.id}" >Détail</router-link>
      </td>
    </tr>
    </tbody>
  </table>


</template>

<script>

import axios from 'axios'

export default {
  name: 'Categories',
  data() {
    return {
      categories: null,
      inputMovie: {
        title: null
      },
    }
  },
  methods: {
    loadMovies() {
      axios.get('http://localhost:3000/categories')
          .then(
              (resultat) => {
                this.categories = resultat.data
              }
          )
          .catch(
              (erreur) => {
                console.log(erreur)
              }
          )
    }
  },
  mounted() {
    this.loadMovies()
  }
}


</script>

<style>

</style>