<template>
  <div>
    <h1>Show Id : {{category.id}}</h1>
    <p>Titre du film :{{ category.title }}</p>
    <br>
    <br>
  </div>
</template>

<script>

import axios from "axios";
export default {
  name: 'categoryShow',
  data() {
    return {
      category : {
        'title':null,
      },
      id: null
    }
  },
  methods : {
    loadCategory() {
      axios.get("http://localhost:3000/categories/"+this.id)
          .then(
              (resultat) => {
                this.category = resultat.data
              }
          )
          .catch(
              (erreur) => {
                console.log(erreur)
              }
          )
    },
  },
  created() {
    this.id = this.$route.params.id
  },
  mounted(){
    this.loadCategory()
  }
}
</script>

<style>

</style>