<template>

  <div class="w-full max-w-lg">
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
          Titre
        </label>
        <input v-model="inputSoftware.title"
               class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
               id="grid-first-name" type="text" placeholder="Jane">
        <p class="text-red-500 text-xs italic">Veuillez renseigner le champ.</p>
      </div>

      <div class="w-full md:w-1/2 px-3">

        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
          State
        </label>
        <div class="relative">
          <select v-model="inputSoftware.categoryId"
                  class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                  id="grid-state">
            <option v-for="category in categories" :value="category.id">{{ category.id }} - {{ category.title }}
            </option>

          </select>
          <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
            </svg>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full px-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
          Description
        </label>
        <textarea v-model="inputSoftware.description"
               class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                  id="grid-password" type="text" placeholder="Description"></textarea>
      </div>
    </div>
    <div class="md:flex md:items-center">
      <div class="md:w-1/3"></div>
      <div class="md:w-2/3">
        <button @click="addSoftwares"
                class="shadow bg-green-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                type="button">
          Sign Up
        </button>
      </div>
    </div>
  </div>
</template>


<script>
import axios from "axios";

export default {
  data() {
    return {
      inputSoftware: {
        'title': null,
        'description': null,
        'categoryId': null,
      },
      categories: {
        'title': []
      },
    }
  },
  methods: {
    addSoftwares() {
      if (this.inputSoftware.title != null && this.inputSoftware.title.trim() != '') {
        axios.post('http://localhost:3000/softwares', this.inputSoftware)
            .then(
                (resultat) => {

                  this.inputSoftware.title = null;
                  this.inputSoftware.description = null;
                  this.inputSoftware.categoryId = null;


                }
            )
            .catch(
                (erreur) => {
                  console.log(erreur)
                }
            )
      }
    },
    loadcategopries() {
      axios.get('http://localhost:3000/categories')
          .then(
              (resultat) => {
                this.categories = resultat.data
              }
          )
          .catch(
              (erreur) => {
                console.log(erreur)
              }
          )
    }
  },mounted() {
    this.loadcategopries()
  }
}
</script>