<template>

  <div class="min-h-screen bg-slate-200 flex flex-col justify-center">
    <span class="border text-4xl text-yellow-800 px-6 pt-10 pb-8 bg-white w-1/2  max-w-5xl mx-auto rounded-t-md sm:px-10">Edit Id : {{
        software.id
      }}</span>
    <div class="border relative  pt-7 pb-8 bg-white shadow-xl w-1/2 max-w-5xl mx-auto sm:px-10 rounded-b-md">

      <div class="w-full">
        <div class="flex mb-6">
          <div class="w-full  px-3 md:mb-0">
            <label class="block tracking-wide text-gray-700 text-xs font-bold mb-2 " for="grid-first-name">
              Titre
            </label>
            <input v-model="software.title"
                   class="appearance-none block w-full bg-gray-200 text-gray-700 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                   id="grid-first-name" type="text" disabled>
          </div>
          <div class="w-full md:w-1/2 px-3">
            <label class="block tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
              Categorie
            </label>
            <div class="relative">
              <select v-model="software.categoryId"
                      class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                      id="grid-state">
                <option v-for="category in categories" :value="category.id" disabled>{{ category.id }} - {{
                    category.title
                  }}
                </option>
              </select>
              <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                  <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="flex flex-wrap  mb-6">
        <div class="w-full px-3">
          <label class="block tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
            Description
          </label>
          <textarea v-model="software.description"
                    class="appearance-none block w-full  h-24 bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                    id="grid-password" type="text" placeholder="Description" disabled></textarea>
        </div>
      </div>
      <div class="md:flex md:items-center justify-center">
        <div class="md:w-5/6">
          <button @click="editSoftware(software.id)"
                  class="shadow bg-green-500 hover:bg-green-900 text-white font-bold py-2 px-4 rounded rounded-full"
                  type="button">
            Retour
          </button>
          &nbsp;
          <router-link :to="{ path: '/software/edit/'+software.id}"
                       class="shadow bg-red-600 hover:bg-red-900 text-white font-bold py-3 px-4 rounded-full">Modifier
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import axios from "axios";
import router from "@/router";

export default {
  name: 'show',
  data() {
    return {
      software: {
        'title': null,
        'description': null,
        'categoryId': null,
      },
      categories: {
        'title': []
      },
      id: null
    }
  },
  methods: {
    loadSoftware() {
      axios.get("http://localhost:3000/softwares/" + this.id)
          .then(
              (resultat) => {
                this.software = resultat.data
              }
          )
          .catch(
              (erreur) => {
                console.log(erreur)
              }
          )
    },
    editSoftware(id) {
      axios.put("http://localhost:3000/softwares/" + this.id, this.software)
          .then(
              (resultat) => {
                this.software = resultat.data
                router.push({path: '/softwares'});
              }
          )
          .catch(
              (erreur) => {
                console.log(erreur)
              }
          )

    },
    loadcategopries() {
      axios.get('http://localhost:3000/categories')
          .then(
              (resultat) => {
                this.categories = resultat.data
              }
          )
          .catch(
              (erreur) => {
                console.log(erreur)
              }
          )
    }
  },
  created() {
    this.id = this.$route.params.id
  },
  mounted() {
    this.loadSoftware()
    this.loadcategopries()
  }
}
</script>

<style>

</style>