<template>

  <div class="table w-full p-2">
    <table class="w-full border">
      <thead>
      <tr class="bg-gray-50 border-b">
        <th class="p-2 border-r cursor-pointer text-sm font-thin text-gray-500">
          <div class="flex items-center justify-center">
            ID
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9l4-4 4 4m0 6l-4 4-4-4" />
            </svg>
          </div>
        </th>
        <th class="p-2 border-r cursor-pointer text-sm font-thin text-gray-500">
          <div class="flex items-center justify-center">
            Titre
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9l4-4 4 4m0 6l-4 4-4-4" />
            </svg>
          </div>
        </th>
        <th class="p-2 border-r cursor-pointer text-sm font-thin text-gray-500">
          <div class="flex items-center justify-center">
            Description
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9l4-4 4 4m0 6l-4 4-4-4" />
            </svg>
          </div>
        </th>
        <th class="p-2 border-r cursor-pointer text-sm font-thin text-gray-500">
          <div class="flex items-center justify-center">
            Categorie
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9l4-4 4 4m0 6l-4 4-4-4" />
            </svg>
          </div>
        </th>
        <th class="p-2 border-r cursor-pointer text-sm font-thin text-gray-500">
          <div class="flex items-center justify-center">
            Action
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9l4-4 4 4m0 6l-4 4-4-4" />
            </svg>
          </div>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="movie in softwares" class="bg-gray-100 text-center border-b text-sm text-gray-600">
        <td class="p-2 border-r">{{movie.id}}</td>
        <td class="p-2 border-r">{{movie.title}}</td>
        <td class="p-2 border-r">{{movie.description}}</td>
        <td class="p-2 border-r">{{movie.categoryId}}</td>
        <td>
          <router-link :to="{ path: '/software/show/'+movie.id}" class="bg-lime-600 p-2 text-white hover:shadow-lg text-xm font-thin" >Détail</router-link>
          &nbsp;
          <router-link :to="{ path: '/software/edit/'+movie.id}" class="bg-blue-500 p-2 text-white hover:shadow-lg text-xm font-thin">Modifier</router-link>
          &nbsp;
          <button @click="deleteSoftware(movie.id)" class="bg-red-500 p-2 text-white hover:shadow-lg text-xs font-thin">Supprimer</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</template>

<script>
import axios from 'axios'

export default {
  name: 'HelloWorld',
  data() {
    return {
      softwares: null,
      categories: {
        'title': []
      },
    }
  },
  methods: {
    loadSoftwares() {
      axios.get('http://localhost:3000/softwares')
          .then(
              (resultat) => {
                this.softwares = resultat.data
              }
          )
          .catch(
              (erreur) => {
                console.log(erreur)
              }
          )
    },
    deleteSoftware(id) {
      axios.delete("http://localhost:3000/softwares/" + id)
          .then(
              (resultat) => {
                this.loadSoftwares();
              }
          )
          .catch(
              (erreur) => {
                console.log(erreur)
              }
          )
    },
    loadcategopries() {
      axios.get('http://localhost:3000/categories')
          .then(
              (resultat) => {
                this.categories = resultat.data
              }
          )
          .catch(
              (erreur) => {
                console.log(erreur)
              }
          )
    }
  },
  mounted() {
    this.loadSoftwares()
    this.loadcategopries()
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
</style>