<link rel="stylesheet" href="assets/tailwind.css">
<template>
  <nav>
    <router-link to="/">Home</router-link> |
    <router-link to="/categories">Category</router-link> |

    <router-link to="/Softwares">Softwares</router-link>

  </nav>
  <router-view/>
</template>


<script>

import '/src/assets/tailwind.css'

export default {
  components: {}
}

</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

nav {
  padding: 30px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #42b983;
}
</style>
